<div class="container mt-4">
    <h3>Registeration Form</h3>
    <hr>
    <form ng-submit='vm.register()'>
  
      <div class="form-group row">
        <label for="title" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10 ">
          <input type="text" class="form-control" placeholder="Enter your name" ng-model='vm.name' required>
  
        </div>
      </div>
  
      <div class="form-group row mt-2">
        <label for="username" class="col-sm-2 col-form-label">User-Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="Enter your user-name"  ng-model='vm.username' required>
        </div>
      </div>
  
      <div class="form-group row mt-2">
        <label for="password" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" placeholder="Enter your password"  ng-model='vm.password' required>
        </div>
      </div>

      <div class="form-group row mt-2">
        <label for="repeatPassword" class="col-sm-2 col-form-label">Repeat-Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" placeholder="Repeat your password"  ng-model='vm.repeatPassword' required>
        </div>
      </div>

      <hr>
      <div class="form-group">
          <button type="submit" class="btn btn-dark">Register</button>
      </div>
  
    </form>
  </div>
  